html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 64px;
}

.header__content {
    display: flex;
    gap: 48px;
    align-items: center;
    color: #1F2D3D;

    .nav__list {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;

        .nav__link {
            color: #1F2D3D;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            transition: color 0.3s ease;
            &:hover {
                color: #D35400;
            }
        }
    }
}

main {
    flex: 1;
}

.footer {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #1F2D3D;
        }
    }
}